<?xml version="1.0"?>
<config>
    <modules>
        <UltraDev_MediaSync>
            <version>1.0.1</version>
        </UltraDev_MediaSync>
    </modules>

    <global>
        <models>
            <ultradev_mediasync>
                <class>UltraDev_MediaSync_Model</class>
            </ultradev_mediasync>
        </models>

        <helpers>
            <ultradev_mediasync>
                <class>UltraDev_MediaSync_Helper</class>
            </ultradev_mediasync>
        </helpers>

        <events>
            <catalog_product_save_after>
                <observers>
                    <ultradev_mediasync>
                        <class>ultradev_mediasync/observer</class>
                        <method>syncProductMedia</method>
                    </ultradev_mediasync>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
</config>
