<?xml version="1.0"?>
<config>
    <sections>
        <ultradev_mediasync translate="label" module="ultradev_mediasync">
            <label>UltraDev Media Sync</label>
            <tab>system</tab>
            <sort_order>900</sort_order>
            <show_in_default>1</show_in_default>

            <groups>
                <general translate="label">
                    <label>Configurações</label>
                    <sort_order>10</sort_order>

                    <fields>
                        <enabled>
                            <label>Ativar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                        </enabled>

                        <bucket>
                            <label>Bucket</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                        </bucket>

                        <endpoint>
                            <label>Endpoint</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                        </endpoint>

                        <access_key>
                            <label>Access Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                        </access_key>

                        <secret_key>
                            <label>Secret Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>50</sort_order>
                        </secret_key>
                    </fields>
                </general>
            </groups>
        </ultradev_mediasync>
    </sections>
</config>
